#,Name,Description,Image,Secret
19,Working Software in Action,Imaginary editor e-book coupon,prize2.png,workingsoftware-X788
18,Working Software in Action,Imaginary editor e-book coupon,prize2.png,workingsoftware-X789
17,Working Software in Action,Imaginary editor e-book coupon,prize2.png,workingsoftware-X790
16,Working Software in Action,Imaginary editor e-book coupon,prize2.png,workingsoftware-X791
15,Working Software in Action,Imaginary editor e-book coupon,prize2.png,workingsoftware-X792
14,Working Software in Action,Imaginary editor e-book coupon,prize2.png,workingsoftware-X793
13,The Joy of Working Software,Imaginary editor MEAP e-book coupon,prize3.png,workingsoftware-X794
12,The Joy of Working Software,Imaginary editor MEAP e-book coupon,prize3.png,workingsoftware-X795
11,The Joy of Working Software,Imaginary editor MEAP e-book coupon,prize3.png,workingsoftware-X796
10,The Joy of Working Software,Imaginary editor MEAP e-book coupon,prize3.png,workingsoftware-X797
 9,The Joy of Working Software,Imaginary editor MEAP e-book coupon,prize3.png,workingsoftware-X798
 8,Working Software in Action,Imaginary editor book,prize2.png,Physical book #5
 7,Working Software in Action,Imaginary editor book,prize2.png,Physical book #4
 6,Working Software in Action,Imaginary editor book,prize2.png,Physical book #3
 5,Working Software in Action,Imaginary editor book,prize2.png,Physical book #2
 4,Working Software in Action,Imaginary editor book,prize2.png,Physical book #1
 3,Whatever license,1-Year Personal Subscription on All Products Pack,prize1.png,12345-SECRET-CODE
 2,Whatever license,1-Year Personal Subscription on All Products Pack,prize1.png,12346-SECRET-CODE
 1,Whatever license,1-Year Personal Subscription on All Products Pack,prize1.png,12347-SECRET-CODE