Name,Description,Image,Secret
Participation medal,Thank you for being here,none.png,secret-1
Useless award,Nobody cares about this,none.png,secret-2
Top prize,Everyone will envy you now!,none.png,secret-3